    $color-black:#151517;
    $color-menu-bg:#202023;
    $color-grey:#646468;
    $color-green:#A7E56D;
    $color-menu:#7F817E;
    $color-text:#659D2E;
    $color-btn-bg:#EB8E22CC;
    $color-mobile-bg:#1E1E21;