/* Header Style */
.header{
    padding:10px 0;
    background-color: $color-black;

    &__link{
        color: $color-grey;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }

    &__span{
        color: $color-grey;
        font-size: 16px;
        font-weight: 400;
        margin-left: 40px;
    }

    &__time{
        color: $color-grey;
        font-size: 16px;
        font-weight: 700;
        margin-left: 100px;
    }
}

.telegram{
    margin-right: 618px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 312px;
}

.fa-telegram{
    margin-right: 5px;
}